<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg width="max-width" height="auto" viewBox="0 0 7349 936" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 605V0.839966H30.72V605H0ZM61.44 605V0.839966H92.16V605H61.44ZM122.88 605V0.839966H215.04V605H122.88ZM245.76 605V0.839966H276.48V605H245.76ZM368.64 605V0.839966H460.8V605H368.64ZM169.984 694.088H195.584L294.912 870.216V694.088H324.608V697.16C322.56 698.525 321.536 700.232 321.536 702.28C320.853 703.645 320.512 706.717 320.512 711.496V931.656H300.032L194.56 745.288V931.656H169.984V694.088ZM492 605V0.839966H522.72V605H492ZM553.44 605V0.839966H584.16V605H553.44ZM614.88 605V0.839966H645.6V605H614.88ZM737.76 605V0.839966H829.92V605H737.76ZM860.64 605V0.839966H952.8V605H860.64ZM748 935.752C728.885 935.752 712.501 930.632 698.848 920.392C685.195 910.835 674.613 896.84 667.104 878.408C659.595 860.659 655.84 839.837 655.84 815.944C655.84 784.541 660.619 759.624 670.176 741.192C679.733 722.76 691.339 709.789 704.992 702.28C718.645 695.453 732.299 692.04 745.952 692.04C760.288 692.04 773.941 695.795 786.912 703.304C800.565 710.131 810.464 719.688 816.608 731.976L798.176 746.312L795.104 749.384L794.08 747.336C794.08 745.288 793.739 743.24 793.056 741.192C791.691 739.827 789.643 737.437 786.912 734.024C780.768 727.197 774.624 722.419 768.48 719.688C762.336 716.957 754.827 715.592 745.952 715.592C727.52 715.592 712.16 722.76 699.872 737.096C688.267 752.115 682.464 776.349 682.464 809.8C682.464 842.568 688.267 867.827 699.872 885.576C711.477 903.325 727.52 912.2 748 912.2C755.509 912.2 763.36 910.835 771.552 908.104C780.427 906.056 787.595 902.643 793.056 897.864V841.544H750.048V817.992H817.632V911.176C795.104 927.56 771.893 935.752 748 935.752ZM984 605V0.839966H1014.72V605H984ZM1045.44 605V0.839966H1076.16V605H1045.44ZM1106.88 605V0.839966H1199.04V605H1106.88ZM1291.2 605V0.839966H1321.92V605H1291.2ZM1352.64 605V0.839966H1444.8V605H1352.64ZM1155.01 694.088H1210.3C1230.1 694.088 1245.46 696.819 1256.38 702.28C1267.99 707.741 1277.89 715.933 1286.08 726.856C1301.78 747.336 1309.63 776.349 1309.63 813.896C1308.27 852.808 1299.39 882.163 1283.01 901.96C1266.62 922.44 1241.02 932.339 1206.21 931.656H1155.01V694.088ZM1204.16 911.176C1256.73 911.176 1283.01 879.432 1283.01 815.944C1283.01 783.859 1277.21 759.283 1265.6 742.216C1253.31 725.149 1234.2 716.616 1208.26 716.616H1180.61V911.176H1204.16ZM1476 605V0.839966H1568.16V605H1476ZM1598.88 605V0.839966H1629.6V605H1598.88ZM1660.32 605V0.839966H1752.48V605H1660.32ZM1844.64 605V0.839966H1875.36V605H1844.64ZM1906.08 605V0.839966H1936.8V605H1906.08ZM1649.06 694.088H1794.46V717.64H1673.63V795.464H1773.98V820.04H1673.63V908.104H1793.44V931.656H1649.06V694.088ZM1968 605V0.839966H1998.72V605H1968ZM2029.44 605V0.839966H2121.6V605H2029.44ZM2152.32 605V0.839966H2183.04V605H2152.32ZM2213.76 605V0.839966H2305.92V605H2213.76ZM2398.08 605V0.839966H2428.8V605H2398.08ZM2212.74 935.752C2182.02 935.752 2157.1 925.512 2137.98 905.032L2152.32 881.48L2153.34 878.408L2156.42 879.432C2156.42 880.115 2156.76 881.48 2157.44 883.528C2157.44 884.893 2158.12 886.6 2159.49 888.648C2160.17 890.013 2161.54 891.379 2163.58 892.744C2177.92 905.032 2195.67 911.176 2216.83 911.176C2230.49 911.176 2242.09 907.421 2251.65 899.912C2261.21 891.72 2265.98 882.163 2265.98 871.24C2265.98 863.731 2264.28 857.245 2260.86 851.784C2258.13 847.005 2253.01 842.227 2245.5 837.448C2237.99 832.669 2226.39 826.867 2210.69 820.04C2187.48 811.165 2170.75 800.925 2160.51 789.32C2150.95 777.715 2146.18 764.744 2146.18 750.408C2146.18 732.659 2152.66 718.323 2165.63 707.4C2178.6 696.477 2196.01 691.016 2217.86 691.016C2230.83 691.016 2243.11 693.747 2254.72 699.208C2265.64 704.669 2275.54 711.837 2284.42 720.712L2267.01 744.264L2264.96 742.216C2264.96 741.533 2264.62 740.509 2263.94 739.144C2263.94 737.096 2263.25 735.389 2261.89 734.024C2261.21 731.976 2259.84 730.269 2257.79 728.904C2252.33 723.443 2245.85 719.347 2238.34 716.616C2231.51 714.568 2223.32 713.544 2213.76 713.544C2201.47 713.544 2191.91 716.957 2185.09 723.784C2177.58 730.611 2173.82 738.803 2173.82 748.36C2173.82 755.869 2175.19 762.355 2177.92 767.816C2181.33 773.277 2187.14 778.397 2195.33 783.176C2203.52 788.637 2215.81 794.44 2232.19 800.584C2254.72 810.141 2270.42 819.699 2279.3 829.256C2287.49 839.496 2291.58 852.125 2291.58 867.144C2291.58 878.749 2288.85 889.672 2283.39 899.912C2277.25 910.152 2268.37 918.685 2256.77 925.512C2244.48 932.339 2229.8 935.752 2212.74 935.752ZM2460 605V0.839966H2490.72V605H2460ZM2521.44 605V0.839966H2613.6V605H2521.44ZM2644.32 605V0.839966H2675.04V605H2644.32ZM2767.2 605V0.839966H2859.36V605H2767.2ZM2890.08 605V0.839966H2920.8V605H2890.08ZM2641.25 909.128H2688.35V716.616H2644.32V694.088H2762.08V716.616H2714.98V909.128H2764.13V931.656H2641.25V909.128ZM2952 605V0.839966H2982.72V605H2952ZM3013.44 605V0.839966H3044.16V605H3013.44ZM3074.88 605V0.839966H3105.6V605H3074.88ZM3197.76 605V0.839966H3289.92V605H3197.76ZM3320.64 605V0.839966H3412.8V605H3320.64ZM3208 935.752C3188.89 935.752 3172.5 930.632 3158.85 920.392C3145.19 910.835 3134.61 896.84 3127.1 878.408C3119.59 860.659 3115.84 839.837 3115.84 815.944C3115.84 784.541 3120.62 759.624 3130.18 741.192C3139.73 722.76 3151.34 709.789 3164.99 702.28C3178.65 695.453 3192.3 692.04 3205.95 692.04C3220.29 692.04 3233.94 695.795 3246.91 703.304C3260.57 710.131 3270.46 719.688 3276.61 731.976L3258.18 746.312L3255.1 749.384L3254.08 747.336C3254.08 745.288 3253.74 743.24 3253.06 741.192C3251.69 739.827 3249.64 737.437 3246.91 734.024C3240.77 727.197 3234.62 722.419 3228.48 719.688C3222.34 716.957 3214.83 715.592 3205.95 715.592C3187.52 715.592 3172.16 722.76 3159.87 737.096C3148.27 752.115 3142.46 776.349 3142.46 809.8C3142.46 842.568 3148.27 867.827 3159.87 885.576C3171.48 903.325 3187.52 912.2 3208 912.2C3215.51 912.2 3223.36 910.835 3231.55 908.104C3240.43 906.056 3247.59 902.643 3253.06 897.864V841.544H3210.05V817.992H3277.63V911.176C3255.1 927.56 3231.89 935.752 3208 935.752ZM3444 605V0.839966H3474.72V605H3444ZM3505.44 605V0.839966H3536.16V605H3505.44ZM3566.88 605V0.839966H3659.04V605H3566.88ZM3689.76 605V0.839966H3720.48V605H3689.76ZM3812.64 605V0.839966H3904.8V605H3812.64ZM3613.98 694.088H3639.58L3738.91 870.216V694.088H3768.61V697.16C3766.56 698.525 3765.54 700.232 3765.54 702.28C3764.85 703.645 3764.51 706.717 3764.51 711.496V931.656H3744.03L3638.56 745.288V931.656H3613.98V694.088ZM3936 605V0.839966H3966.72V605H3936ZM4058.88 605V0.839966H4151.04V605H4058.88ZM4181.76 605V0.839966H4212.48V605H4181.76ZM4243.2 605V0.839966H4335.36V605H4243.2ZM4366.08 605V0.839966H4396.8V605H4366.08ZM4428 605V0.839966H4458.72V605H4428ZM4489.44 605V0.839966H4581.6V605H4489.44ZM4612.32 605V0.839966H4643.04V605H4612.32ZM4673.76 605V0.839966H4765.92V605H4673.76ZM4858.08 605V0.839966H4888.8V605H4858.08ZM4672.74 935.752C4642.02 935.752 4617.1 925.512 4597.98 905.032L4612.32 881.48L4613.34 878.408L4616.42 879.432C4616.42 880.115 4616.76 881.48 4617.44 883.528C4617.44 884.893 4618.12 886.6 4619.49 888.648C4620.17 890.013 4621.54 891.379 4623.58 892.744C4637.92 905.032 4655.67 911.176 4676.83 911.176C4690.49 911.176 4702.09 907.421 4711.65 899.912C4721.21 891.72 4725.98 882.163 4725.98 871.24C4725.98 863.731 4724.28 857.245 4720.86 851.784C4718.13 847.005 4713.01 842.227 4705.5 837.448C4697.99 832.669 4686.39 826.867 4670.69 820.04C4647.48 811.165 4630.75 800.925 4620.51 789.32C4610.95 777.715 4606.18 764.744 4606.18 750.408C4606.18 732.659 4612.66 718.323 4625.63 707.4C4638.6 696.477 4656.01 691.016 4677.86 691.016C4690.83 691.016 4703.11 693.747 4714.72 699.208C4725.64 704.669 4735.54 711.837 4744.42 720.712L4727.01 744.264L4724.96 742.216C4724.96 741.533 4724.62 740.509 4723.94 739.144C4723.94 737.096 4723.25 735.389 4721.89 734.024C4721.21 731.976 4719.84 730.269 4717.79 728.904C4712.33 723.443 4705.85 719.347 4698.34 716.616C4691.51 714.568 4683.32 713.544 4673.76 713.544C4661.47 713.544 4651.91 716.957 4645.09 723.784C4637.58 730.611 4633.82 738.803 4633.82 748.36C4633.82 755.869 4635.19 762.355 4637.92 767.816C4641.33 773.277 4647.14 778.397 4655.33 783.176C4663.52 788.637 4675.81 794.44 4692.19 800.584C4714.72 810.141 4730.42 819.699 4739.3 829.256C4747.49 839.496 4751.58 852.125 4751.58 867.144C4751.58 878.749 4748.85 889.672 4743.39 899.912C4737.25 910.152 4728.37 918.685 4716.77 925.512C4704.48 932.339 4689.8 935.752 4672.74 935.752ZM4920 605V0.839966H4950.72V605H4920ZM4981.44 605V0.839966H5012.16V605H4981.44ZM5042.88 605V0.839966H5135.04V605H5042.88ZM5165.76 605V0.839966H5257.92V605H5165.76ZM5350.08 605V0.839966H5380.8V605H5350.08ZM5149.38 717.64H5082.82V694.088H5246.66V717.64H5177.02V931.656H5149.38V717.64ZM5412 605V0.839966H5504.16V605H5412ZM5596.32 605V0.839966H5627.04V605H5596.32ZM5657.76 605V0.839966H5688.48V605H5657.76ZM5719.2 605V0.839966H5749.92V605H5719.2ZM5780.64 605V0.839966H5872.8V605H5780.64ZM5657.76 935.752C5633.18 935.752 5614.41 928.243 5601.44 913.224C5588.47 898.205 5581.98 877.043 5581.98 849.736V694.088H5611.68V697.16C5609.63 698.525 5608.61 700.232 5608.61 702.28C5607.93 703.645 5607.58 706.717 5607.58 711.496V849.736C5607.58 870.216 5611.68 885.917 5619.87 896.84C5627.38 907.763 5640.35 913.224 5658.78 913.224C5676.53 913.224 5689.5 907.763 5697.7 896.84C5705.89 885.917 5709.98 869.875 5709.98 848.712V694.088H5735.58V848.712C5735.58 878.067 5728.76 899.912 5715.1 914.248C5701.45 928.584 5682.34 935.752 5657.76 935.752ZM5904 605V0.839966H5934.72V605H5904ZM5965.44 605V0.839966H5996.16V605H5965.44ZM6026.88 605V0.839966H6119.04V605H6026.88ZM6211.2 605V0.839966H6241.92V605H6211.2ZM6272.64 605V0.839966H6364.8V605H6272.64ZM6075.01 694.088H6130.3C6150.1 694.088 6165.46 696.819 6176.38 702.28C6187.99 707.741 6197.89 715.933 6206.08 726.856C6221.78 747.336 6229.63 776.349 6229.63 813.896C6228.27 852.808 6219.39 882.163 6203.01 901.96C6186.62 922.44 6161.02 932.339 6126.21 931.656H6075.01V694.088ZM6124.16 911.176C6176.73 911.176 6203.01 879.432 6203.01 815.944C6203.01 783.859 6197.21 759.283 6185.6 742.216C6173.31 725.149 6154.2 716.616 6128.26 716.616H6100.61V911.176H6124.16ZM6396 605V0.839966H6426.72V605H6396ZM6457.44 605V0.839966H6549.6V605H6457.44ZM6580.32 605V0.839966H6611.04V605H6580.32ZM6703.2 605V0.839966H6795.36V605H6703.2ZM6826.08 605V0.839966H6856.8V605H6826.08ZM6577.25 909.128H6624.35V716.616H6580.32V694.088H6698.08V716.616H6650.98V909.128H6700.13V931.656H6577.25V909.128ZM6888 605V0.839966H6980.16V605H6888ZM7010.88 605V0.839966H7041.6V605H7010.88ZM7072.32 605V0.839966H7164.48V605H7072.32ZM7195.2 605V0.839966H7225.92V605H7195.2ZM7318.08 605V0.839966H7348.8V605H7318.08ZM7133.76 935.752C7106.45 935.752 7085.63 925.171 7071.3 904.008C7056.28 882.845 7048.77 852.808 7048.77 813.896C7048.77 776.349 7056.28 746.653 7071.3 724.808C7086.31 703.645 7107.14 693.064 7133.76 693.064C7160.38 693.064 7181.21 703.645 7196.22 724.808C7211.24 746.653 7218.75 776.349 7218.75 813.896C7218.75 852.808 7211.24 882.845 7196.22 904.008C7181.89 925.171 7161.07 935.752 7133.76 935.752ZM7133.76 912.2C7152.19 912.2 7166.19 904.008 7175.74 887.624C7185.98 870.557 7191.1 845.981 7191.1 813.896C7191.1 783.859 7185.98 759.965 7175.74 742.216C7165.5 725.149 7151.51 716.616 7133.76 716.616C7116.01 716.616 7102.02 725.149 7091.78 742.216C7081.54 759.965 7076.42 783.859 7076.42 813.896C7076.42 845.981 7081.19 870.557 7090.75 887.624C7100.99 904.008 7115.33 912.2 7133.76 912.2Z" fill="#0000FF"/>
      </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>Brand&Marketing Agency - Web Design & Development.</span>
            <span class="font-bold">Fron-end dev</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="mailto:info@ngdesign.org"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
    </div>
  </div>
</section>
